:root {
  --std-gap: 20px;
  --std-radius: 10px;
}
@font-face {
  font-family: "Manrope";
  src: url("assets/Manrope.ttf");
}
body {
  margin: 0px;
  padding: 0px;
  height: 100svh;
  display: flex;
  flex-direction: column;
  background: #000000;
  color: #ffffff;
  font-family: "Manrope";
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--std-gap);
  padding-top: var(--std-gap);
}
header > p {
  margin: 0;
  font-size: 1.5rem;
}
header > p:last-child {
  font-weight: 600;
}
.columns {
  display: flex;
  flex: 1;
  gap: var(--std-gap);
}
.columns > div {
  display: flex;
  flex-direction: column;
  gap: var(--std-gap);
  justify-content: space-between;
  padding-block: var(--std-gap);
}

section {
  background: #252525;
  padding: 15px;
  border-radius: var(--std-radius);
  border: 1px solid #363636;
}

.col1 {
  padding-left: var(--std-gap);
  flex: 0.8;
}
.col1 > section {
  flex: 1;
}

.col2 {
  flex: 1.5;
}
.col2 > .miniContainer1 {
  display: flex;
  flex: 1;
  gap: var(--std-gap);
}
.miniContainer1 > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--std-gap);
}
.miniContainer1 > div > section {
  flex: 1;
}
.miniContainer1 > section {
  flex: 1.5;
}

.col3 {
  padding-right: var(--std-gap);
  flex: 1;
}
.col3 > section {
  flex: 1;
}

/* Weather Icon */
#weatherIcon {
  background: unset;
  border: unset;
  position: relative;
}
#weatherIcon > img {
  width: 300px;
}
#weatherIcon > div {
  position: absolute;
  top: 135px;
  right: 0;
  background: #6c6c6c75;
  backdrop-filter: blur(10px);
  border-radius: var(--std-radius);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  max-width: 13ch;
  text-align: center;
}
#weatherIcon > div > * {
  margin: 0;
}
#weatherIcon > div > h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
#weatherIcon > div > h1 > span {
  font-size: 1rem;
  font-weight: 500;
}
#weatherIcon > div > p:nth-child(2) {
  font-size: 0.9rem;
}
#weatherIcon > div > p:nth-child(3) {
  color: #565656;
  font-size: 0.8rem;
  margin-top: 1rem;
}

/* Weather Charts  */
.weatherChart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weatherChart > canvas {
  max-width: fit-content;
}

/* Calendar */
#calendar {
  color: #ffffff;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
#calendar > p {
  margin: 0 0 15px 25px;
}
#calendar > div {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 1.2rem;
  row-gap: 10px;
}
#calendar > div > p {
  margin: 0;
  padding: 2px;
  text-align: center;
}
#calendar > div > p:nth-child(-n + 7) {
  opacity: 0.5;
  font-size: 1rem;
}
#calendar .today {
  background: #565656;
  color: white;
  border-radius: 5px;
  margin: 0 1.5ch;
}

/* Lamp */
#lamp {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}
#lamp > div {
  flex: 1;
  display: flex;
  align-items: center;
  background-image: url("assets/lamp-off.png");
  background-size: contain;
  background-position-x: 10px;
  background-repeat: no-repeat;
}

#lamp > div:has(input:checked) {
  background-image: url("assets/lamp-on.png");
}
#lamp:has(input:checked) {
  background: radial-gradient(
    farthest-corner at 150px 40px,
    #ffbf2880 1%,
    #252525 90%
  );
}

/* Internet Speed */
#netSpeed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#netSpeed > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
}

/* Notes */
#notes {
  display: flex;
  flex-direction: column;
}
#notes > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(115, 115, 115);
}

/* Photos */
#photos {
  display: flex;
  flex-direction: column;
  background-image: url("assets/sample_photo.jpg");
  background-size: cover;
  justify-content: space-between;
}
#photos > div {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.208);
  padding: 0 20px;
  border-radius: var(--std-radius);
  backdrop-filter: blur(5px);
}
